<a href="https://colab.research.google.com/github/carolluzardi/analise_sirio_libanes/blob/main/Final_Project_DSBootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import data

Uncomment and run the following cell only if $\textit{openpyxl}$ package is not installed yet.

In [1]:
#pip install openpyxl

In [2]:
import pandas as pd
import openpyxl
import matplotlib.pyplot as pyplot
import numpy as np

In [3]:
path = 'https://github.com/carolluzardi/analise_sirio_libanes/blob/main/data/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx?raw=true'
data = pd.read_excel(path, engine='openpyxl')
data.head(3)

   PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ... WINDOW  ICU
0                         0            1  ...    0-2    0
1                         0            1  ...    2-4    0
2                         0            1  ...    4-6    0

[3 rows x 231 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Columns: 231 entries, PATIENT_VISIT_IDENTIFIER to ICU
dtypes: float64(225), int64(4), object(2)
memory usage: 3.4+ MB

Above we can see that there are useless features in $\textit{data}$ DataFrame (for instance, $\textit{PATIENT_VISIT_IDENTIFIER}$) and there are also missing ($\textit{NaN}$) values in some columns. Moreover, there are cateogrical data we need to deal with it so they can enter the machine learning model later. 

Before we begin the exploratory data analysis and building up the machine learning model, we will need to resolve those issues.

# Data cleaning: Filling missing data

The first step is to fill missing values in continual features.


The following are columns which are not continual in $\textit{data}$:

'PATIENT_VISIT_IDENTIFIER', 'AGE_ABOVE65', 'AGE_PERCENTIL', 'GENDER',
       'DISEASE GROUPING 1', 'DISEASE GROUPING 2', 'DISEASE GROUPING 3',
       'DISEASE GROUPING 4', 'DISEASE GROUPING 5', 'DISEASE GROUPING 6', 'HTN',
       'IMMUNOCOMPROMISED', 'OTHER', 'WINDOW', 'ICU'

We need to ignore them when we fill the missing data.

The method for filling missing data is to propagate the last valid observation. When previous observation is not available, the next will be used instead.

In [5]:
def fill_missing_data(data):
    features_continual_columns = data.iloc[:, 13:-2].columns 
    features_continual = data.groupby("PATIENT_VISIT_IDENTIFIER", as_index=False)[features_continual_columns].fillna(method = "ffill").fillna(method="bfill")
    features_categorical = data.iloc[:, :13]
    out = data.iloc[:, -2:]
    data_final = pd.concat([features_categorical, features_continual, out], ignore_index=True, axis=1)
    data_final.columns = data.columns # dar nome as colunas
    return data_final

In [6]:
data_clean = fill_missing_data(data)

In [7]:
print('All ok')

All ok

In [8]:
print('All ok again')

All ok again

In [9]:
print('Testing...')

Testing...

In [10]:
print('Hello world')

Hello world